{% extends 'core/administrador.html' %}
{% load static %}

{% block title %}Clientes{% endblock %}
{% block content %}
<div class="container section-title mt-4" data-aos="fade-up">
    <div class="row">
        <div class="col col-lg-12">
            <h2>Lista de clientes</h2>
            <hr>
        </div>
    </div>
</div>

<div class="container" data-aos="fade-up">
    <div class="card">
        <div class="card-header d-flex justify-content-end">
            <a href="{% url 'form_clientes' %}" class="btn btn-success">
                <i class="fas fa-plus-circle me-2"></i>Crear cliente
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="clientsTable" class="table table-striped table-hover">
                    <thead>
                        <tr>

                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>RUT</th>
                            <th>Teléfono</th>
                            <th>Correo</th>
                            <th>Cantidad de viajes</th>
                            <th>Recurrente</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr>

                            <td>{{ cliente.Nombres }}</td>
                            <td>{{ cliente.Apellidos }}</td>
                            <td>{{ cliente.Rut }}</td>
                            <td>{{ cliente.Telefono }}</td>
                            <td>{{ cliente.Correo }}</td>
                            <td>{{ cliente.Cantidad_viajes }}</td>

                            <td class="text-center">
                                {% if cliente.Recurrente %}
                                <i class="fas fa-check-circle text-success fa-2x"></i>
                                {% else %}
                                <i class="fas fa-times-circle text-danger fa-2x"></i>
                                {% endif %}
                            </td>
                            <td>
                                <button class="btn btn-sm btn-secondary text-white" data-bs-toggle="modal"
                                    data-bs-target="#historialModal" data-bs-title="Ver historial">
                                    <i class="fa-solid fa-book"></i>
                                </button>
                                <a href="{% url 'form_modpro' cliente.Rut %}" class="btn btn-sm btn-secondary text-white">
                                    <i class="bi bi-highlighter"></i>
                                </a>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="historialModal" tabindex="-1" aria-labelledby="historialModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historialModalLabel">Historial de reservas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Fecha Reserva</th>
                                <th>Conductor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2024-05-20</td>
                                <td>Manuel García</td>
                            </tr>
                            <tr>
                                <td>2024-05-18</td>
                                <td>Ana Sánchez</td>
                            </tr>
                            <tr>
                                <td>2024-05-15</td>
                                <td>Manuel García</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="crearClienteModal" tabindex="-1" aria-labelledby="crearClienteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearClienteModalLabel">Crear nuevo cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="rutInput" class="form-label">RUT</label>
                        <input type="text" class="form-control" id="rutInput">
                    </div>
                    <div class="mb-3">
                        <label for="nombreInput" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombreInput">
                    </div>
                    <div class="mb-3">
                        <label for="telefonoInput" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="telefonoInput">
                    </div>
                    <div class="mb-3">
                        <label for="correoInput" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="correoInput">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="recurrenteInput">
                        <label class="form-check-label" for="recurrenteInput">Cliente recurrente</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#clientsTable').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/2.0.8/i18n/es-ES.json"
            },
            "lengthMenu": [5, 10, 25, 50],
            "pageLength": 10
        });
    });
</script>
{% endblock %}