{% extends 'core/base.html' %}

{% block title %}Reservas{% endblock %}
{% block meta_description %}Tu servicio de taxi rápido, seguro y confiable.{% endblock %}
{% block meta_keywords %}taxi, aeropuerto, reservas, transporte, seguro{% endblock %}
{% block content %}

<section id="faq" class="faq section" style="margin-top: 150px;">

    <div class="container section-title" data-aos="fade-up">
        <span class="subtitle">Contacto</span>
        <h2>¿Quieres contactarnos?</h2>
        <p>Comunícate directamente con nosotros a travez de las siguientes opciones</p>
    </div>
    <!-- Contact Section -->
    <section id="contact2" class="contact2 section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="info-box">
                        <i class="bi bi-whatsapp"></i>
                        <h3>Whatsapp</h3>
                        <a
                            href="https://wa.me/56942253790?text=Hola%20buenas,%20me%20gustaria%20solicitar%20una%20reserva%20desde%20(Tu%20direccion)%20hasta%20el%20aeropuerto%20internacional%20arturo%20merino%20benítez">
                            +56 9 4225 3790
                        </a>
                    </div>
                </div>

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="info-box">
                        <i class="bi bi-telephone"></i>
                        <h3>Llámanos</h3>
                        <a href="tel:+56229650415">+56 2 2965 0415</a>
                    </div>
                </div>

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
                    <div class="info-box">
                        <i class="bi bi-envelope"></i>
                        <h3>Mándanos un email</h3>
                        <p>
                            <a
                                href="mailto:taxioficialaeropuerto@letcotravel.com?subject=Contacto%20desde%20la%20web&body=Hola%2C%20necesito%20informaci%C3%B3n%20sobre...">
                                taxioficialaeropuerto@letcotravel.com
                            </a>
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /Contact Section -->

</section>
{% endblock %}
