{% extends 'core/base.html' %}

{% block title %}Reservas{% endblock %}
{% block meta_description %}Tu servicio de taxi rápido, seguro y confiable.{% endblock %}
{% block meta_keywords %}taxi, aeropuerto, reservas, transporte, seguro{% endblock %}
{% block content %}

<section id="faq" class="faq section" style="margin-top: 100px;">

    <div class="container section-title" data-aos="fade-up">
        <span class="subtitle">Contacto</span>
        <h2>¿Quieres contactarnos?</h2>
        <p>Comunícate directamente con nosotros a travez de las siguientes opciones</p>
    </div>
    <!-- Contact Section -->
    <section id="contact2" class="contact2 section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="info-box">
                        <i class="bi bi-whatsapp"></i>
                        <h3>Whatsapp</h3>
                        <p>+56 9 8823 2323<br>+56 9 2312 1232</p>
                    </div>
                </div>

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="info-box">
                        <i class="bi bi-telephone"></i>
                        <h3>Llámanos</h3>
                        <p>+56 9 8823 2323<br>+56 9 2312 1232</p>
                    </div>
                </div>

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
                    <div class="info-box">
                        <i class="bi bi-envelope"></i>
                        <h3>Mándanos un email</h3>
                        <p>contact@example.com<br>support@example.com</p>
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /Contact Section -->

</section>
{% endblock %}