{% extends 'core/administrador.html' %}
{% load static %}

{% block title %}Tarifas{% endblock %}
{% block content %}
<div class="container section-title mt-4" data-aos="fade-up">
    <div class="row">
        <div class="col col-lg-12">
            <h2>Lista de Tarifas</h2>
            <hr>
        </div>
    </div>
</div>

<div class="container" data-aos="fade-up">
    <div class="card">
        <div class="card-header d-flex justify-content-end">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#crearTarifaModal">
                <i class="fas fa-plus-circle me-2"></i>Crear Tarifas
            </button>
        </div>

        <div class="card-body">
            {% if mensaje %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ mensaje }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            <div class="table-responsive">
                <table id="clientsTable" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Comuna</th>
                            <th>Valor</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Tarifa in Tarifas %}
                        <tr>
                            <td>{{ Tarifa.Nombre_Comuna }}</td>
                            <td>${{ Tarifa.Valor | floatformat:0 }}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-secondary text-white disabled" data-bs-toggle="modal" 
                                    data-bs-placement="top" data-bs-title="Modificar Tarifa"
                                    data-bs-target="#ModificarTarifaModal">
                                    <i class="bi bi-highlighter"></i>

                                </button>

                                <a href="{% url 'delete_Tarifa' Tarifa.id_tarifa %}" 
                                    class="btn btn-sm btn-danger text-white " 
                                    tabindex="-1" 
                                    role="button" 
                                    aria-disabled="true"
                                    title="Eliminar Tarifa"> 
                                        <i class="bi bi-x-square"></i>
                                </a>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="crearTarifaModal" tabindex="-1" aria-labelledby="crearTarifaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="crearTarifaModalLabel">Crear nueva Tarifa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                        <div class="alert alert-danger">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                    {% endfor %}

                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#clientsTable').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/2.0.8/i18n/es-ES.json"
            },
            "lengthMenu": [5, 10, 25, 50],
            "pageLength": 10
        });

        // Inicializar tooltips
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    });
</script>
{% endblock %}