{% extends 'core/base.html' %}

{% block title %}Reservas{% endblock %}
{% block meta_description %}Tu servicio de taxi rápido, seguro y confiable.{% endblock %}
{% block meta_keywords %}taxi, aeropuerto, reservas, transporte, seguro{% endblock %}
{% block content %}

<section id="faq" class="faq section" style="margin-top: 100px;">

    <div class="container section-title" data-aos="fade-up">
        <span class="subtitle">Tarifas</span>
        <h2>Consulta nuestros precios</h2>
        <p>Te mostramos nuestras tarifas en la Región Metropolitana de Chile</p>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">

            <div class="col-lg-4">
                <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="150">
                    <div class="faq-header">
                        <h4>Quilicura</h4>
                        <div class="faq-toggle">
                            <i class="bi bi-plus"></i>
                            <i class="bi bi-dash"></i>
                        </div>
                    </div>
                    <div class="faq-content">
                        <div class="content-inner">
                            <p>$50.000.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="150">
                    <div class="faq-header">
                        <h4>Las Condes</h4>
                        <div class="faq-toggle">
                            <i class="bi bi-plus"></i>
                            <i class="bi bi-dash"></i>
                        </div>
                    </div>
                    <div class="faq-content">
                        <div class="content-inner">
                            <p>$60.000.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="150">
                    <div class="faq-header">
                        <h4>Estación Central</h4>
                        <div class="faq-toggle">
                            <i class="bi bi-plus"></i>
                            <i class="bi bi-dash"></i>
                        </div>
                    </div>
                    <div class="faq-content">
                        <div class="content-inner">
                            <p>$30.000.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="150">
                    <div class="faq-header">
                        <h4>Macúl</h4>
                        <div class="faq-toggle">
                            <i class="bi bi-plus"></i>
                            <i class="bi bi-dash"></i>
                        </div>
                    </div>
                    <div class="faq-content">
                        <div class="content-inner">
                            <p>$70.000.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="150">
                    <div class="faq-header">
                        <h4>Pudahuél</h4>
                        <div class="faq-toggle">
                            <i class="bi bi-plus"></i>
                            <i class="bi bi-dash"></i>
                        </div>
                    </div>
                    <div class="faq-content">
                        <div class="content-inner">
                            <p>$45.000.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="150">
                    <div class="faq-header">
                        <h4>Puente Alto</h4>
                        <div class="faq-toggle">
                            <i class="bi bi-plus"></i>
                            <i class="bi bi-dash"></i>
                        </div>
                    </div>
                    <div class="faq-content">
                        <div class="content-inner">
                            <p>$87.000.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>{% endblock %}